---

---

<header>
    <p>Logo</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        background-color: blanchedalmond;
    }

    p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    a:hover {
        opacity: 60%;
    }
</style>